@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #041562;
}

h1 {
    font-size: 32px;
}

h2 {
    text-align: center;
}

#titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 250px;
}

#seleccionar-consultas {
    width: 100%;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signos-vitales {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

#lb-presion-arterial:hover, #lb-imc:hover, #lb-glucosa:hover, #lb-oxigenacion:hover,  #subtitulo-3{
    color: #DA1212;
    background-color:EEEEEE ;
    border-radius: 10px;
    cursor: pointer;
}

/* #lb-presion-arterial  */

#presion-2 {
    display: flex;
    justify-content: center;
}

#presion-2 img {
    width: 100px;
}

.datos-presion {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: center;    
}

.preguntas-presion {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    grid-column-gap: 50px;
    grid-row-gap: 12px;
    text-align: right;
    margin-top: 12px;
}

#parrafo-boton-calcular-presion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
    margin-top: 32px;
}

.glucometro{
    margin-bottom: 9px;
}

.inputsConsultas {
    display: none;
}

.subtitulo-3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.tensiometro, .imc, .glucometro, .oxigenacion {
    width: 180px;
}

.tensiometro:hover, .imc:hover, .glucometro:hover, .oxigenacion:hover  {
    cursor: pointer;
}

#calculo-presion-arterial, #calculo-imc, #calculo-glucosa, #calculo-oxigenacion {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#parrafo-boton-continuar, #parrafo-boton-reiniciar{
    text-align: center;
}

.datos-glucosa {
    display: flex;
    justify-content: center;
}

#parrafo-boton-calcular-glucosa {
    display: flex;
    justify-content: center;
}

#parrafo-boton-calcular-imc, #parrafo-boton-reiniciar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datos-oxigenacion, #parrafo-boton-calcular-oxigenacion {
    display: flex;
    justify-content: center ;
}

.botones, .boton-reiniciar{
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 150px;
    height: 50px;
    border: 1px solid #11468F;
    color: #EEEEEE;
    background: #11468F;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.botones:hover, .boton-reiniciar:hover {
    background-color: #041562;
    color: #EEEEEE;
}

.espacio-resultados{
    display: flex;
    align-items: center;
    width: 700px;
    height: 125px;
    border: 1px solid #11468F;
    justify-content: center;
    color: #E8630A;
    font-size: 28px;
    text-align: center;
}

.input-numero {
    width: 80px;
    height: 40px;
    text-align: center;
    border: 5px inset #E8630A;
    font-size: 28px;
}

.autor {
    text-align: center;
    font-size: x-small;
    color: gray;
}